body {
    margin: 0;
    background: url("https://i.ibb.co/SKjx3YN/bg-light.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    background: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}

.logo {
    margin: 0;
}

.back {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.form-container {
    width: 380px;
    margin: 90px auto;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    margin: 12px 0 5px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.btn {
    background: #ff5959;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    margin-top: 18px;
    width: 100px;
    cursor: pointer;
    display: block;
}

.btn:hover {
    background: #ff3232;
}
